<challenge2ML th:fragment="challenge2ML">

<div class="col-7">

 		<form th:action="@{/ejecutarNivel2}" method="post">
 
       	 	<h2>Nivel 2</h2>
        	<h>Top 5 de los mas favoritos -> </h><br>
        
           
	   		<button type="submit" class="btn btn-success">Aceptar</button>						      
        </form>
        
</div>
       
	<div class="container">
		<div class="row">
 
			 
			 
			<div class="col-7">
		        <h2>Resultado Top 5</h2>
		        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
		             th:text="${mensaje}"
		             class="alert">
		        </div>
		        
		        <div class="table-responsive">
		            <table class="table table-bordered table-striped" id="rwd-table-id">
				        <thead>
				            <tr>
				                <th style="background-color:lavender;">Nombre</th >	
				                <th style="background-color:lavender;">Cantidad</th >	
				            </tr>
				        </thead>
				        <tbody>
				            <tr th:each="dto : ${listProdMLResult}">
				                <td th:text="${dto.nombre}"></td>
				               	<td th:text="${dto.cant}"></td>
				            </tr>
				        </tbody >
				           
		            </table>
		        </div>
			 </div>    

			 
	  </div>
	  
	  
	  

	  
	</div>
		    
		    


</challenge2ML>