<listasProd th:fragment="listasProd">
	 <div class="col-8">
        <h2>Productos</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        <a class="btn btn-success mb-2" th:href="@{/newProduct}">Agregar</a>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
		        <thead>
		            <tr>
		            	<th style="background-color:lavender;">ID</th >
		                <th style="background-color:lavender;">
		                	<a th:href="@{'/page/' + ${currentPage} + '?sortField=nombre&sortDir=' + ${reverseSortDir}}">Nombre</a></th >
		                <th style="background-color:lavender;">Descripcion</th >
		                <th style="background-color:lavender;"></th >
		                <th style="background-color:lavender;">Stock</th >
		                <th style="background-color:lavender;">
		                	<a th:href="@{'/page/' + ${currentPage} + '?sortField=precio&sortDir=' + ${reverseSortDir}}">Precio</a></th ></th >
		                <th style="background-color:lavender;"></th >
		                <th style="background-color:lavender;"></th >
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="p : ${listProd}">
		            	<td th:text="${p.idProd}">Product ID</td>
		                <td th:text="${p.nombre}">Name</td>
		                <td th:text="${p.descripcion}">Brand</td>
		                <td>					                	
							                	<img th:if="${p.img == null}" th:src="@{'/images/productos.png'}" style="height: 20px;width: 20px;"/>
							                	<img th:if="${p.img != null}" th:src="'data:image/jpeg;base64,' + ${p.imgData}" style="height: 30px;width: 30px;"/>
						</td>
		                <td th:text="${p.stock}">Brand</td>
		                <td th:text="${p.precio}">Brand</td>
		                <td>
		                	<a th:href="@{'/editProd/' + ${p.idProd}}" class="btn btn-warning">Editar</a>
		                </td>
		                <td>
		                	<a th:href="@{'/deleteProd/' + ${p.idProd}}" class="btn btn-danger">Borrar</a>
		                </td>
		            </tr>
		        </tbody>
		        
		        <tfoot>
	                <tr>
		            	<th style="background-color:lavender;">ID</th >
		                <th style="background-color:lavender;">Nombre</th >
		                <th style="background-color:lavender;">Descripcion</th >
		                <th style="background-color:lavender;"></th >
		                <th style="background-color:lavender;">Stock</th >
		                <th style="background-color:lavender;">Precio</th >
		                <th style="background-color:lavender;"></th >
		                <th style="background-color:lavender;"></th >
	                </tr>
                </tfoot>
		           
            </table>
            
            <div lang="en" th:replace="/layout/fragments/pagination :: pag"> </div>
            
  
			  
			  

  
        </div>
	 </div>            
</listasProd>