<principal th:fragment="principal">
	<td style="width:60%">
				  	<table class="table">			  	
				  		<tbody>
				  		
				  			<tr>
				  				<td  th:colspan="5">
							  		<div class="container-fluid bg-1 text-center">
			    						<h1>Challenge !!!</h1>
			    						<img th:src="@{/images/cc.png}" style="height: 150px;width: 150px;" class="img-circle"/>
			    						<h3>Nuevooooo !!! </h3>
			  						</div>
				  				</td >
				  			</tr>
				  			
				  			<tr>	
				  					<td style="text-align: center;vertical-align: middle;">
					  					<button type="button" th:onclick="|window.location.href='/listarUsuarios'|" class="btn btn-primary"><img th:src="@{/images/cliente.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Usuarios</button>					  				
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/listarProductos'|" class="btn btn-primary"><img th:src="@{/images/productos.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Productos</button>
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/listarCategorias'|" class="btn btn-warning"><img th:src="@{/images/productos.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Categorias</button>
					  				</td >
									<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/listarCarritos'|" class="btn btn-warning"><img th:src="@{/images/cc.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Carritos</button>
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" class="btn btn-secondary disabled"><img th:src="@{/images/star.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Ventas</button>
					  				</td >

				  			</tr>
	  <!--
	  			  			<tr>	
				  					<td style="text-align: center;vertical-align: middle;">
					  					<button type="button" th:onclick="|window.location.href='/listarUsuariosML'|" class="btn btn-primary"><img th:src="@{/images/cliente.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Usuarios</button>					  				
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/listarProductosML'|" class="btn btn-primary"><img th:src="@{/images/productos.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Productos</button>
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/listarFavoritosML'|" class="btn btn-primary"><img th:src="@{/images/star.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Favoritos</button>
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					  					<button type="button" th:onclick="|window.location.href='/pruebasML1'|" class="btn btn-warning"><img th:src="@{/images/ml.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Nivel 1</button>					  				
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					  					<button type="button" th:onclick="|window.location.href='/pruebasML2'|" class="btn btn-warning"><img th:src="@{/images/ml.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Nivel 2</button>					  				
					  				</td >

				  			</tr>
	-->  
				  			
				  		</tbody>
				  	</table>
	</td>
</principal>