<principal th:fragment="principal">
	<td style="width:60%">
				  	<table class="table">			  	
				  		<tbody>
				  		
				  			<tr>
				  				<td  th:colspan="4">
							  		<div class="container-fluid bg-1 text-center">
			    						<h1>Hulk</h1>
			    						<img th:src="@{/images/hulk.png}" style="height: 150px;width: 150px;" class="img-circle"/>
			    						<h3>Store !!! </h3>
			  						</div>
				  				</td >
				  			</tr>
				  			
				  			<tr>	
				  					<td style="text-align: center;vertical-align: middle;">
					  					<button type="button" th:onclick="|window.location.href='/usuarios/listarUsuarios'|" class="btn btn-primary"><img th:src="@{/images/cliente.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Usuarios</button>					  				
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/productos/listarProductos'|" class="btn btn-primary"><img th:src="@{/images/productos.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Productos</button>
					  				</td >
					  				<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/categorias/listarCategorias'|" class="btn btn-warning"><img th:src="@{/images/productos.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Categorias</button>
					  				</td >
									<td style="text-align: center;vertical-align: middle;">
					   					<button type="button" th:onclick="|window.location.href='/carritos/listarCarritos'|" class="btn btn-warning"><img th:src="@{/images/cc.png}" style="height: 30px;width: 30px;margin-right: 15px"/>Carritos</button>
					  				</td >
				  			</tr>

				  			
				  		</tbody>
				  	</table>
	</td>
</principal>