
<!DOCTYPE html>

<html lang="en">
	<div lang="en" th:replace="/layout/fragments/header :: head"> </div>
	<div lang="en" th:replace="/layout/fragments/views/navbar :: navbar"></div>
	<div lang="en" th:replace="/layout/fragments/modalWait :: modalWait"> </div>
	<body>
  		<div class="container pt-5">
  			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>		
 			<div th:replace="@{'layout/fragments/views/' + ${content}} :: ${content}"></div>
  			<div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
  		</div>
  		<div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div lang="en" th:replace="/layout/fragments/footer :: foot"> </div>
	</body>
</html>